<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бронь полета</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>

<div class="pages">
    <a class="link" href="{% url 'main_page' %}">вернуться назад</a>
</div>


<table>
    <tr>
        <th>Номер рейса</th>
        <th>Наименование <br>компании</th>
        <th>Номер самолета</th>
        <th>Gate</th>
        <th>Посадочное место</th>
        <th>Время отправления</th>
        <th>Время прибытия</th>
    </tr>
    <tr>
        <td>{{ flight.id }}</td>
        <td>{{ flight.company_name }}</td>
        <td>{{ flight.plane_number }}</td>
        <td>{{ flight.gate }}</td>
        <td>{{ flight.seat_place }}</td>
        <td>{{ flight.date_departures }}</td>
        <td>{{ flight.date_arrivals }}</td>
        <td>
            <form class="booking" action="" method="post">
                {% csrf_token %}
                <button type="submit">Забронировать</button>
            </form>
        </td>
    </tr>
</table>

<div class="passangers">
    {% for passenger in passengers %}
    <div class="item">
        <p>{{ passenger.user.first_name }}</p>
    </div>
    {% endfor %}
</div>

</body>
</html>